:root {
  /* font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --global-flow-background-color:  var(--el-border-color-lighter); 
  --global-flow-width: 200px;
  --global-flow-panel-height: 40px;
  --global-flow-line-height: 60px;
  --global-flow-panel-color:  var(--el-text-color-primary);
  --global-flow-line-color:  var(--el-text-color-primary);
  --golbal-flow-node-padding: 40px;
  --global-flow-panel-head-background-color:  #00DAFF;
  --global-flow-panel-background-color:#cee9fc;
  --global-flow-panel-body-background-color: var(--el-fill-color-blank);

  --el-border-radius-base: 0px;
}


html,body,#app{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.el-header {
  padding: 0;
}


.el-main{
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.el-aside {
  background-color: var(--el-menu-bg-color);
}
.el-card{
  border-radius: 0px !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;

} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
 .el-input__wrapper {
  position: relative;
}

 .el-input__wrapper .el-input__inner {
  padding-right: 18px;
}

 .el-input__wrapper .el-input__suffix {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}